venv/
*.docx
lebenslauf.json
signature.svg
anschreiben.json
*.pdf
Signature (1).png
signature.png
eng/profile-pics.jpg
node_modules/
.env
repos.txt
past.json
lebenslauf-shay.json
fsc/*
signature-shay.png
profile-picture-shay-2.jpg
profile-picture-shay.jpg
