{
	"title": "Lebenslauf",
	"location": "sample_location",
	"date": "01.01.2021",
	"sections": [
		{
			"title": "Personal Information",
			"content": {
				"Name": "John Doe",
				"Geburtsdatum": "01.01.2022",
				"Adresse": ["Musterstr. 01", "12345 Musterstadt"],
				"Telefon": "0123-4567890",
				"Portfolio": "solozo.page",
				"LinkedIn": "linkedin.com/in/sample",
				"Email": "sample@test.de"
			}
		},
		{
			"title": "Section 2",
			"readmore": "https://www.google.com",
			"content": {
				"01/2020 - 01/2022": "studies at university",
				"01/2020 - 01/2022": ["Musterstr. 01", "12345 Musterstadt"],
				"2018 - 2019": [
					"Worked at Muster GmbH",
					"- Job Description 1",
					"- Job Description 2"
				]
			}
		}
	]
}